:root {
    --color_main__light: #FF855E;
    --color_main: #F0503A;
    --color_main__dark_1: #FF4A37;
    --color_main__dark_2: #DC0400;
    --color_main__dark_3: #8E0401;

    --color_bg: #fff;
    
    --color_text__light: #BEBEBE;
    --color_text: #1B1B1B;
    --color_text__player: #fff;

    --ff_main: 'Montserrat';

    --scrollbar_bg: #E2E2E2;
    --scrollbar_w: 4px;
}
